<p id="notice"><%= notice %></p>

<p>
  <b>Avatar:</b>
  <%= @profile.avatar %>
</p>

<p>
  <b>Description:</b>
  <%= @profile.description %>
</p>

<p>
  <b>Role:</b>
  <%= @profile.role %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
